/* Setting the background color of the page */
.yellow-bg { 
  background-color: #F8F1DD;
  margin: 0;
  padding: 0;
  font-family: 'Baloo Bhai', Futura, serif;
}

/* Setting the background of the page to an image */
.room-bg {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 70px;
  margin-bottom: 5px;
}
h2 { font-size: 40px; }
h3 { font-size: 30px; }
p { font-size: 25px; }

.brown-text {
  color: #836B63;
  /* font-family: 'Baloo Bhai', Futura, serif; */
  text-align: center;
}

.white-text {
  color: #FFFFFF;
  /* font-family: 'Baloo Bhai', Futura, serif; */
  text-align: center;
}

.outlined-text {
  color: #F5D7D5;
  /* font-family: 'Baloo Bhai', Futura, serif; */
  text-align: center;
  -webkit-text-stroke: 4px #836B63;  /* Outline effect */
  /* text-shadow: 2px 2px 4px #5e4c46; */
  margin-bottom: 5px;
}

.button-container {
  background-color: #836B63;
  border-radius: 8px;  /* Rounded corners */
  /* text-align: center; */
  padding: 10px;
  width: 20%;
  color: #FFFFFF;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}

.button-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;  /* Space below the title */
}

.inner-button {
  background-color: #F5D7D5;
  border-radius: 8px;  /* Rounded corners */
  padding: 15px 25px;
  width: 100%;
  border: none;
  font-family: 'Baloo Bhai', Futura, serif;
  color: #836B63;
  font-size: 30px;
  cursor: pointer;  /* Change cursor to pointer on hover */
}

.inner-button:hover {
  background-color: #EFACC9;
  color: #544540;
}

.inner-button:active {
  transform: scale(0.90);  /* Slightly reduce size when clicked */
}

.inner-button:disabled {
  cursor: not-allowed;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}

.box {
  width: 200px;
  height: 200px;
  margin-bottom: 0;
  cursor: pointer;  /* Change cursor to pointer on hover */
}

.box:hover {
  transform: scale(1.15);  /* Slightly enlarge the box on hover */
  transition: transform 0.2s ease;
}

.box.selected {
  transform: scale(0.90);  /* Slightly reduce size when clicked */
  filter: drop-shadow(0 0 12px #F776AD);
}

/* Pet image on the pet introduction pages */
.pet {
  margin-top: 20px;
  margin-left: 100px;
  width: 550px;
  height: auto;
}

/* Reusing button container for pet's information */
.info-box {
  position: absolute;
  left: auto;
  transform: none;
  top: 160px;
  right: 100px;
  width: 380px;
  height: 435px;
  padding: 10px;
}

.info-content {
  cursor: default;
  font-size: 25px;
  text-align: left;
  width: auto;
  padding: 10px;
  margin-top: 0px;
}

.info-content h3 { margin-top: 0; margin-bottom: 0; }
.info-content ul { margin-top: 0; }

.info-content:hover, .info-content:active {
  transform: none;            /* No hover/click animations */
  background-color: #F5D7D5;  /* Keeping original color */
  color: #836B63;             /* Keeping original text color */
}
