/* Setting the background color of the page */
.yellow-bg { 
  background-color: #F8F1DD;
  margin: 0;
  padding: 0;
  font-family: 'Baloo Bhai', Futura, serif;
}

h1 {
  font-size: 70px;
  margin-bottom: 5px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 25px;
}

.brown-text {
  color: #836B63;
  /* font-family: 'Baloo Bhai', Futura, serif; */
  text-align: center;
}

.white-text {
  color: #FFFFFF;
  /* font-family: 'Baloo Bhai', Futura, serif; */
  text-align: center;
}

.outlined-text {
  color: #F5D7D5;
  /* font-family: 'Baloo Bhai', Futura, serif; */
  text-align: center;
  -webkit-text-stroke: 4px #836B63;  /* Outline effect */
}

.start-container {
  background-color: #836B63;
  border-radius: 8px;  /* Rounded corners */
  text-align: center;
  padding: 10px;
  margin: 20% auto;
  position: fixed, center;
  width: 20%;
  color: #FFFFFF;
}

.start-title {
  margin-top: 10px;
  margin-bottom: 20px;  /* Space below the title */
}

.start-button {
  background-color: #F5D7D5;
  border-radius: 8px;  /* Rounded corners */
  padding: 15px 25px;
  width: 100%;
  border: none;
  font-family: 'Baloo Bhai', Futura, serif;
  color: #836B63;
  font-size: 30px;
  cursor: pointer;  /* Having cursor change to a pointer when hovering */
}

.start-button:hover {
  background-color: #EFACC9;
  color: #544540;
}
