/* Setting the background color of the page */
.yellow-bg { 
  background-color: #F8F1DD;
  margin: 0;
  padding: 0;
  font-family: 'Baloo Bhai', Futura, serif;
}

/* Setting the background of the page to an image */
.room-bg {
  background-image: url("images/room.png");
  background-color: #876D5D;
  background-size: auto;    /* Entire image always visible */
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 { font-size: 70px; margin-bottom: 5px; }
h2 { font-size: 40px; }
h3 { font-size: 30px; }
p { font-size: 25px; }

.brown-text {
  color: #836B63;
  font-family: 'Baloo Bhai', Futura, serif;
  text-align: center;
  margin-top: 0px;
}

.white-text {
  color: #FFFFFF;
  font-family: 'Baloo Bhai', Futura, serif;
  text-align: center;
  margin-top: 0px;
}

.outlined-text {
  color: #F5D7D5;
  font-family: 'Baloo Bhai', Futura, serif;
  text-align: center;
  -webkit-text-stroke: 4px #836B63;  /* Outline effect */
  margin-top: 0px;
  margin-bottom: 5px;
}

.logo {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 0px;
  width: 700px;
  height: auto;
}

.button-container {
  background-color: #836B63;
  border-radius: 8px;  /* Rounded corners */
  /* text-align: center; */
  padding: 10px;
  width: 20%;
  color: #FFFFFF;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}

.button-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;  /* Space below the title */
}

.inner-button {
  background-color: #F5D7D5;
  border-radius: 8px;  /* Rounded corners */
  padding: 15px 25px;
  width: 100%;
  border: none;
  font-family: 'Baloo Bhai', Futura, serif;
  color: #836B63;
  font-size: 30px;
  cursor: pointer;  /* Change cursor to pointer on hover */
}

.inner-button:hover { background-color: #EFACC9; color: #544540; }

.inner-button:active {
  transform: scale(0.90);  /* Slightly reduce size when clicked */
}

.inner-button:disabled { cursor: not-allowed; }

.box-container {
  display: flex;
  justify-content: center;
  gap: 10px;  /* Space between boxes */
  margin-top: 85px;
}

.box {
  width: 200px;
  height: 200px;
  margin-bottom: 0;
  cursor: pointer;  /* Change cursor to pointer on hover */
}

.box:hover {
  transform: scale(1.15);  /* Slightly enlarge the box on hover */
  transition: transform 0.2s ease;
}

.box.selected {
  transform: scale(0.90);  /* Slightly reduce size when clicked */
  filter: drop-shadow(0 0 12px #F776AD);
}

/* Pet image on the pet introduction pages */
.pet-intro {
  margin-top: 20px;
  margin-left: 100px;
  width: 550px;
  height: auto;
}

/* Reusing button container for pet's information */
.info-box {
  position: absolute;
  left: auto;
  transform: none;
  top: 160px;
  right: 100px;
  width: 380px;
  height: 435px;
  padding: 10px;
}

.info-content {
  cursor: default;
  font-size: 25px;
  text-align: left;
  width: auto;
  padding: 10px;
  margin-top: 0px;
}

.info-content h3 { margin-top: 0; margin-bottom: 0; }
.info-content ul { margin-top: 0; }

.info-content:hover, .info-content:active {
  transform: none;            /* No hover/click animations */
  background-color: #F5D7D5;  /* Keeping original color */
  color: #836B63;             /* Keeping original text color */
}

.pet {
  /* display: block; */
  /* margin: auto; */    /* Centering the image... */
  /* 
  position: fixed;
  bottom: 5px;
  width: 800px;
  height: auto;
  */

  position: fixed;
  left: 50%;
  bottom: 40px;        /* attach to bottom of viewport */
  transform: translateX(-50%);  /* center horizontally */
  width: 800px;
  height: auto;
  pointer-events: none; /* optional: prevents blocking clicks */
}

/* For displaying pet hunger, cleanliness, sustainability + task icons*/
.icon-container {
  display: flex;
  justify-content: right;
  gap: 3px;
  margin-top: 5px;
}

.icon { width: 70px; height: auto; }
